@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  color: #474747;
}

body {
  margin: 0;
  background-color: #23866F;
}

.container {
  width: 80%;
}

.background {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top {
  width: 80%;
  color: #E7ECE0;
}

.game-menu {
  margin-top: 20px;
  background-color: #E7ECE0;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.game-box {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
}

.game-link {
  text-decoration: none;
}

.game-icon {
  font-size: 3em;
  margin: 0 0 0 0;
}

.game-name {
  color: #23866F;
  display: block;
  margin-top: 10px;
}

.back-link {
  color: #E7ECE0;
}


.title,
.description {
  color: #E7ECE0;
}

.title {
  margin-top: 15px;
}

.description {
  margin: 0 0 30px 0;
}

button {
  cursor: pointer;
}

.popup {
  position: absolute;
  background-color: white;
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid #23866F;
  z-index: 2;
}

.b1 {
  padding: 15px 60px;
  background-color: #90CFB9;
  color: white;
  width: 300px;
  border-radius: 40px;
  border: none;
  cursor: pointer;

  margin-top: 15px;
}

.b1:hover {
  background-color: #23866F;
}

.popup-hidden {
  display: none;
}

.popup-background {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  margin-top: 5vh;
}

@media (max-width: 500px) {
  .game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-box {
    padding: 20px 0;
    margin: 0;
  }

  .description,
  title {
    padding: 0 10vw;
  }

  .title {
    margin-top: 10vh;
  }

  .back-link {
    padding-bottom: 10vh;
  }

  .game-menu {
    margin-bottom: 10vh;
  }
}

@media (min-width: 1300px) {

  .container,
  .top {
    width: 60%;
  }




}
