.container {
  width: 500px;

}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #90CFB9;
  margin-top: 20px;
  margin-bottom: 10px;
}

.grid,
.counter,
#result,
#flags-left {
  font-size: 25px;
  text-align: center;

}

.counter,
#result,
#flags-left {
  color: #E7ECE0;
  margin-top: 3vh;
  font-weight: 600;
}

.description {
  text-align: center;
}


.valid,
.bomb {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 5px solid;
  border-color: #cfeae0 #7e8582 #7e8582 #aaecd5;

}

.checked {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid;
  background-color: #23866F;
  border-color: #b1fbe1;

}

.one {
  color: #b82605;

}

.two {
  color: #045a94;
}

.three {
  color: #074208
}

.four {
  color: #6a087d
}

.five {
  color: #3b0505
}
